.date {
    font-weight: bold;
    color: grey;
    font-size: 15px;
    margin-bottom: 5px;
}

.text {
    margin-bottom: 0;
}

.scroll {
    height: 500px;
    overflow-y: auto;
}

.newsItem {
    padding: 10px;
}

.newsItem:hover {
    background-color: #F4F4F4;
}

.separator {
    margin: 0;
}

.redirect {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}