.upload_btn_group {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    row-gap: 5px;
    flex-wrap: wrap;
}

.notes {
    margin-top: 15px;
    color: grey;
}

.notes > p {
    margin-bottom: 0;
}

.error {
    color: red
}