.pagination_footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 50px;
}

.totalResults {
    margin-right: auto;
    margin-top: 5px;
}

.selectLabel {
    margin-bottom: 0;
    font-size: 15px;
    margin-left: 5px;
    color: grey;
    font-weight: bold;
}